Welcome Trainer <%= @user.username%>!

<h3>Here are the Pokemon you've caught:</h3>
<div>
  <% @user.captured_pokemons.each do |f|%>
    <p><%= link_to "#{f.name}", pokemon_path(f) %> - <%= f.region.name %></p>
  <% end %>
</div>